<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!--
    <bean id="alien" class="org.example.Alien" scope="prototype">
    </bean>-->     <!--prototype-can create any num of objects - only be created when call getBean -->

    <bean id="alien" class="org.example.Alien" >
        <constructor-arg value="1"/>
        <property name="lap" ref="lap1"/>
    </bean>

    <bean id="lap1" class="org.example.Laptop">
    </bean>

    </beans>